@model CocusFlightPlanner.Application.ViewModel.AirportViewModel

@{
    ViewData["Title"] = "Airports";
}

@section Toolbar {
    <div>
        <span>Airports</span>
    </div>
    <div>
        <a class="btn btn-primary btn-sm" asp-area="" asp-controller="Airport" asp-action="Upsert">Create New</a>
    </div>
}

<div class="mt-5">
    @{ await Html.RenderPartialAsync("_listAirports", Model); }
</div>

@section Scripts {
    <script>
        const deleteModal = document.getElementById('confirmDeleteModal');
        deleteModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            const id = button.getAttribute('data-id');
            const form = deleteModal.querySelector('#deleteForm');
            const input = deleteModal.querySelector('#deleteId');

            input.value = id;
            form.action = `/Airport/Delete/${id}`;
        });
    </script>
}


